# Python
__pycache__/
*.py[cod]
*.pyo

# Notebooks
*.ipynb

# Checkpoints
checkpoints/

# Logs
logs/
plots/

# Rerun recordings
rerun_rollouts/
*.rrd

# Additional cache
.vscode
DiffPhysDrone-v1.0
.claude
.jax_cache

# Scripts
*.sh