# Python
__pycache__/
*.py[cod]
*.pyo

# Notebooks
*.ipynb

# Checkpoints
checkpoints/

# Logs
logs/
plots/

# Rerun recordings
rerun_rollouts/
*.rrd

.vscode
DiffPhysDrone-v1.0
.claude

# Scripts
*.sh